In [30]:
%matplotlib inline

#Bibliotecas básicas do python
import numpy as np 
import seaborn as sns
import pandas as pd
from pandas import DataFrame
from pandas.util.testing import assert_frame_equal
from pandas_datareader import data
import matplotlib.pyplot as plt
import datetime
import math

#Bibliotecas para utilização das métricas do Sklearn
import sklearn.metrics
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn import datasets, linear_model
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.preprocessing import StandardScaler

# Bibliotecas para uso do statsmodels
import statsmodels.api as sm
from scipy import stats

#Biblioteca para ignorar os warnings
import warnings
warnings.filterwarnings("ignore")

In [2]:
#Período treinamento
treinamento_start_date = '2013-04-28'
treinamento_end_date = '2018-12-31'

In [3]:
#Moedas que serão utilizadas 
tickers = ['GLD']

In [4]:
#O pandas_datareader será usado para carregar os dados de treinamento do Yahoo Finance
treinamento_dataset_GLD = data.DataReader(tickers[0], 'yahoo', treinamento_start_date, treinamento_end_date)

In [5]:
treinamento_dataset_Regression = treinamento_dataset_GLD

In [6]:
# Novo dataframe que conterá somente as colunas necessárias para treinar o modelo
features = ['Open','High','Low','Volume']
treinamento_dataset_Regression = treinamento_dataset_Regression[features]

In [7]:
treinamento_dataset_Regression.head(10)

                  Open        High         Low    Volume
Date
2013-04-29  142.130005  142.660004  141.490005  11004500
2013-04-30  142.270004  142.830002  141.550003  11284400
2013-05-01  140.589996  141.550003  139.300003  13931100
2013-05-02  142.000000  142.470001  141.639999  11502200
2013-05-03  141.699997  142.710007  141.399994  11667100
2013-05-06  142.330002  142.460007  141.630005   7730300
2013-05-07  140.380005  140.639999  139.369995  13627400
2013-05-08  141.779999  142.809998  141.490005  11161100
2013-05-09  141.330002  142.360001  140.509995   8263000
2013-05-10  138.220001  139.750000  137.259995  14650600

In [8]:
#Criação do dataframe que conterá somente o valor de fechamento, este será usado pelo modelo para ajustar os pesos.
Dataset_y = treinamento_dataset_GLD['Close']

In [9]:
#scikit-learn para fazer essa divisão dos dados
X_treino, X_teste, y_treino, y_teste = train_test_split(treinamento_dataset_Regression, Dataset_y, test_size=0.5)

In [10]:
X_treino.head()

                  Open        High         Low    Volume
Date
2015-09-21  108.489998  108.660004  108.330002   4104800
2013-07-08  119.089996  119.660004  118.930000   8652200
2015-10-02  108.540001  109.320000  108.540001   7730600
2017-09-29  122.290001  122.300003  121.550003  10208000
2016-07-12  128.520004  128.539993  126.989998  26459600

In [11]:
y_treino.head()

Date
2015-09-21    108.529999
2013-07-08    119.510002
2015-10-02    108.989998
2017-09-29    121.580002
2016-07-12    127.150002
Name: Close, dtype: float64

In [12]:
y_treino_frame = pd.DataFrame(y_treino)

In [13]:
y_treino_frame.head()

                 Close
Date
2015-09-21  108.529999
2013-07-08  119.510002
2015-10-02  108.989998
2017-09-29  121.580002
2016-07-12  127.150002

In [15]:
y_test_frame = pd.DataFrame(y_teste)

In [16]:
lr_model = LinearRegression()

In [17]:
#O método fit() é usado para treinar o modelo
lr_model.fit(X_treino,y_treino)

LinearRegression()

In [18]:
#Visualizar coeficientes
lr_model.coef_

array([-5.61721955e-01,  7.88617165e-01,  7.74713631e-01, -4.97120378e-09])

In [19]:
#Usando dataset X_teste para passar a parte dos dados separados para teste para testar o modelo.
lr_model.predict(X_teste)[:30]

array([128.93330261, 127.24947223, 126.24399553, 123.65394456,
       116.35060738, 114.27190737, 107.7214454 , 127.45558329,
       116.09681192, 128.12054785, 125.3528417 , 118.68766761,
       122.86895438, 104.3429517 , 115.94816506, 115.97728721,
       113.52581599, 127.3743574 , 127.00527206, 104.99855279,
       111.58576273, 123.80400427, 113.060801  , 124.15403299,
       108.78717559, 127.87183846, 116.43264235, 119.832396  ,
       101.51824055, 113.74186106])

In [20]:
lr_model.predict_frame = pd.DataFrame(lr_model.predict(X_teste))

In [21]:
#Visualização em Dataframe
lr_model.predict_frame.head(30)

             0
0   128.933303
1   127.249472
2   126.243996
3   123.653945
4   116.350607
5   114.271907
6   107.721445
7   127.455583
8   116.096812
9   128.120548
10  125.352842
11  118.687668
12  122.868954
13  104.342952
14  115.948165
15  115.977287
16  113.525816
17  127.374357
18  127.005272
19  104.998553
20  111.585763
21  123.804004
22  113.060801
23  124.154033
24  108.787176
25  127.871838
26  116.432642
27  119.832396
28  101.518241
29  113.741861

In [22]:
#Valor real
y_test_frame.head(30)

                 Close
Date
2014-03-04  128.679993
2013-10-02  127.059998
2014-07-21  126.339996
2015-01-23  124.230003
2016-04-01  116.930000
2017-01-12  113.910004
2016-12-20  107.790001
2014-02-28  127.620003
2018-07-31  115.989998
2016-08-15  127.839996
2016-09-19  125.320000
2018-06-29  118.650002
2014-08-25  122.739998
2015-11-10  104.180000
2016-04-07  118.610001
2016-02-22  115.489998
2018-10-03  113.419998
2013-07-31  127.959999
2018-01-30  126.800003
2016-01-21  105.489998
2016-02-05  112.320000
2013-11-08  124.279999
2014-12-22  112.550003
2013-07-15  124.180000
2015-10-05  108.769997
2018-04-16  127.629997
2014-12-03  116.330002
2014-06-04  119.760002
2015-12-31  101.459999
2014-11-14  114.470001

In [23]:
#Mean squared error
print('Mean squared error: %.2f'
      % mean_squared_error(y_test_frame, lr_model.predict_frame))

Mean squared error: 0.09

In [24]:
#Root Mean squared error
RMSE = mean_squared_error(y_test_frame, lr_model.predict_frame)**0.5
RMSE

0.30687281224528357

In [25]:
#Mean absolute error
print('MAE: ', mean_absolute_error(y_test_frame, lr_model.predict_frame))

MAE:  0.2132124910741456